{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">

        <div class="col ">
            <h1>Make Reservation</h1>

            {{$res:=index .Data "reservation"}}

            <form method="post" action="/make-reservation" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3 mt-5">
                            <label for="first_name" class="form-label">First Name: </label>
                            {{with .Form.Errors.Get "first_name"}}
                                <label class="text-danger"> {{ .}}</label>
                            {{end}}
                            <input type="text"  id="first_name" name="first_name" class="form-control {{with .Form.Errors.Get `first_name`}} is-invalid {{end}}" required  value="{{$res.FirstName}}"  / >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mt-5">
                            <label for="last_name" class="form-label">Last Name: </label>
                            {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger"> {{ .}}</label>
                            {{end}}
                            <input type="text" required  class="form-control {{with .Form.Errors.Get `last_name`}} is-invalid {{end}}" id="last_name" name="last_name"  value="{{$res.LastName}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mt-5">
                            <label for="email" class="form-label">Email: </label>
                            {{with .Form.Errors.Get "email"}}
                            <label class="text-danger"> {{ .}}</label>
                            {{end}}
                            <input type="email" required class="form-control {{with .Form.Errors.Get `email`}} is-invalid {{end}}" id="email" name="email"  value="{{$res.Email}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mt-5">
                            <label for="phone" class="form-label">Phone: </label>
                            {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger"> {{ .}}</label>
                            {{end}}
                            <input type="text" required class="form-control {{with .Form.Errors.Get `phone`}} is-invalid {{end}}" id="phone" name="phone"  value="{{$res.Phoneno}}">
                        </div>
                    </div>


                </div>
                <hr/>
                <input type="submit" class="btn btn-primary" value="Make Reservation" />

            </form>


        </div>


    </div>

</div>


{{end}}